// We can create variables in sass
// after creating .scss file we need to convert it with to css file using sass
// command: sass filename.scss:filename.css
// or use command: sass --watch filename.scss:filename.css

$color:red;

h1 {
    color: $color;
}

// we can use nesting in sass
body {
    h2 {
        background-color: bisque;
    }
}

// Inheritance
%common_styling {
    color: aqua;
    font-size: 20px;
    font-weight: bold;
}

h3 {
    @extend %common_styling
}

h4 {
    @extend %common_styling;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}